[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "==2.3.2"
aiohttp = ">=3.9.3"
aiosqlite = "==0.20.0"
uvloop = {version = ">=0.19.0", markers = "sys_platform == 'linux' or sys_platform == 'darwin'"}

[dev-packages]
black = "==24.2.0"
isort = "==5.13.2"
pre-commit = "==3.6.2"

[requires]
python_version = "3.11"

[scripts]
bot = "python bot.py"

[pipenv]
allow_prereleases = true
