{
    "token": "your bot token",
    "owner_ids": [],
    "default_prefix": ">",
    "default_embed_color": 3775189,
    "botlog_webhook_url": "your webhook URL",
    "max_message_cache": 1000,
    "intents": {
        "dm_messages": true,
        "members": true
    }
}
